/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/ALPPACA Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
// Global default params, used in configs

params {

    // csv fields: ID,assembly,longreads,R1,R2,type,comments
    // ID(name),assembly (path),longreads(path),R1(path),R2(path),type(assembly),comments(for you in case) 
    // options type: short, long, hybrid

    input              = null 


    // TRACK Choice : purely_raw (not done), tryssembly (not done), filter_contigs, coverage, haplopurge, varwrrum
    track              = null

    // ----------------------------------------------------------------------------
    // -------------------------  PURELY_RAW --------------------------------------
    // ----------------------------------------------------------------------------

    
    // ----------------------------------------------------------------------------
    // -------------------------  TRYSSEMBLY --------------------------------------
    // List of assemblers  to try : separate by , with no space , lowercase
    assemblers  = null // "necat,masurca"


    // ------------------      necat         --------------------------------------

    
    // TRACK necat parameters: 
    // Input csv file assemblyID, netcatconf[path], comment[text, optional, if comma - use quotes]


    // ------------------      masurca       --------------------------------------

    // ----------------------------------------------------------------------------


    // ----------------------------------------------------------------------------
    // -------------------------  FILTER_CONTIGS ----------------------------------
    // ----------------------------------------------------------------------------
    // Note also in option in COMPASS 
        
    blastDB = "/cluster/shared/databases/blast/2023-09-05"
    ranked_taxo_file = "/cluster/projects/nn9305k/active/evezeyl/projects/Saprolegnia/git/2023_Saprolegnia_pilot/code/nf/assets/taxofile/rankedlineage.dmp"
    positive_filter = "phylum == 'Oomycota'" // rlang expression (see wiki) - ! make ok with brachets 
    evalue_min = 1e-20
    perc_identity_min = 95



    // ----------------------------------------------------------------------------
    // ------------------     COMPASS      - --------------------------------------
    // ----------------------------------------------------------------------------
    remove_contaminants = "yes" // yes, no : activates FILTER_CONTIGS



    // --------------- DETECT_ASSEMBLY_CONTAMINANTS subworkflow --------------------
    krakenDB = "/cluster/shared/biobases/classification_dbs/minikraken_standard_8gb_20220607"

    // --------------- ASSEMBLY_QUALITY_QUALIMAP subworkflow ------------------------

    // --------------- ASSEMBLY_QUALITY_QUAST subworkflow ---------------------------
    //provide paths:  quast_ref and quast_annot if want to use external ref - set null for ref_asssembly
    //provide paths:  ref_assembly for using own assembly as reference - set rest to null
    quast_ref          = "/cluster/projects/nn9305k/active/evezeyl/projects/Saprolegnia/git/2023_Saprolegnia_pilot/analyses/ref_genomes/GCA_000151545.2/GCA_000151545.2_ASM15154v2_genomic.fna "
    quast_annot        = "/cluster/projects/nn9305k/active/evezeyl/projects/Saprolegnia/git/2023_Saprolegnia_pilot/analyses/ref_genomes/GCA_000151545.2/genomic.gff"
    
    quast_ref_assembly       = "/cluster/projects/nn9305k/active/evezeyl/projects/Saprolegnia/git/2023_Saprolegnia_pilot/analyses/necat_test/NECAT/6-bridge_contigs/polished_contigs.fasta"
    which_quast     =   "ref" // ref, assembly, both

    min_contig = 500
    plot_format = "svg"

    // --------------- ASSEMBLY_COMPLETENESS_BUSCO subworkflow --------------------
    //1. if several lineages separate with coma, no space - "no / at the end of dataset path"
    lineage_dataset   =  "alveolata_odb10,stramenopiles_odb10,eukaryota_odb10"
    //2. see also on Saga at: /cluster/shared/databases/BUSCO/latest/
    busco_download_path = "/cluster/projects/nn9305k/active/evezeyl/projects/Saprolegnia/git/2023_Saprolegnia_pilot/busco_downloads/busco_downloads"
    

    // ----------------------------------------------------------------------------
    // ------------------      HAPLOPURGE    --------------------------------------
    // ----------------------------------------------------------------------------
    purge_phase = null //phase1: hist | phase2: cov | phase3: purge  | all
    haplo_junk = 80 // default: junk coverage threshold for haplotigs - integer (no junk removed if set to > 100)
    haplo_suspect = 80 // default : suspect coverage threshold for haplotigs - integer 
    haplo_align_cov = 70 // default 
    haplo_max_match = 250 // default
    purgehaplotigs_maxdepth = 600 // set higher than expected average coverage (also used in VARWRRUM)

    // ----------------------------------------------------------------------------
    // ------------------      VARWRRUM      --------------------------------------
    // ----------------------------------------------------------------------------
    // population variant calling (now only for illumina reads)

    // PART 1. Preparation reference 
    phase = null // preparation phase for stopping 
    ref_input = null // Reference for variant calling : HaploSembly csv input file (ID,assembly,R1,R2,comments)

    // --------------- VAR_PREP_BASE subworkflow --------------------
    // TRIMMING illumina reads options (Håkons trim_galore)
    phred_score = 15
    error_rate =  0.1
    minlength = 20 // or read or ?= 

    // BWAMEM  
    bwamem_args = "-a -M" // -a flags secondary alignments - output all , -M mark shorter split hits as secondary - picard compatible
                          // Eventually change:  -k 19"
    // SAMTOOLS Filtering of mapped reads  
    min_mapq = 30 // min mapping quality required (20 - 30) 
    filterout_tags = "-F 0x0008 -F 0x0100 -F 0x0400 -F 0x0800 -F 0x0004"  // filterout reads with those tags  

    bbmask_entropy = 0.7 // entropy parameter for masking low complexity regions with bbmask
    bbmask_maxcov = null // 1000 masking coverage over XX - need to be evaluated and optional


    // --------------- VAR_FREEBAYES_SAMPLES_POP subworkflow --------------------
    // See: https://github.com/freebayes/freebayes
    vcf_ref = null // optional a vcf file that is used to force calling variants at particular alleles 
    // (eg. previous population analysis ) - ! must have been done using the same reference assem
    
    // Population freebayes - deprecated 
    chunk_size = 100000 // chunks of reference to parallelize the variant calling

    freebayes_args = "--min-coverage 10"
            // "-g 1000 --min-coverage 10"
            // --min-coverage 10
            // --min-alternate-count 10
            // --minqual (100 in snipyy ) -> not used here - get the proba
            // 5 supporting observations to consider a variant:
    // filtering variants quality - arguments for bcftools https://samtools.github.io/bcftools/howtos/filtering.html
    filter_args = "-i 'QUAL>=100 && FMT/DP >= 30 && FMT/QA >= 100'"
    // FMT/GT="1/1" && FMT/DP>=$mincov && (FMT/AO)/(FMT/DP)>=$minfrac example from snippy 

    // check that you have set  purgehaplotigs_maxdepth eventually as its used here 



    // ----------------------------------------------------------------------------
    // ------------------  General options ----------------------------------------
    // ----------------------------------------------------------------------------

	publish_dir_mode	= "copy"
    time_multiplier		= 1





}

//conda { createTimeout = "120 min" }

// Profiles 
includeConfig 'conf/profiles.config' 

// Modules 
includeConfig 'conf/base.config'
// I had to split the modules config - was unpractical
includeConfig 'conf/modules_compass.config'
includeConfig 'conf/modules_varwrrum.config'

// Manifest
manifest {
    name            = 'NorwegianVeterinaryInstitute/Saprolegnia'
    author          = 'Eve Fiskebeck, Thomas Haverkamp, Håkon Kaspersen'
    homePage        = ''
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.4'
    version         = ''
}

// Define variables to prevent local R libraries from conflicting with the container
/*
env {
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}
*/

// Function to ensure that resource requirements don't go beyond
// a maximum limit

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
