process {

      
    /*
    withName: 'BLOBTOOLS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/06_BLOBTOOLS" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    */

}