process {

    withName: 'FOO' {
        publishDir = [
               	path:   { "${params.out_dir}" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
                }

    // NECAT assembly track
    /*
    withName: 'NECAT_CORRECT' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/01_necat_correct" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    


    withName: 'NECAT_ASSEMBLE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/02_necat_assemble" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'NECAT_BRIDGE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_necat_bridge" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }


    withName: 'NECAT_GLOBAL' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/02_necat" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }



    withName: 'MASURCA_ASSEMBLY' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/01_masurca" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    */
}