// --------------------------------------------------
// ------------ FILTER_CONTIGS track MODULES --------
// --------------------------------------------------
process {

    // TODO check if using $ID works - I guess not because settings done first 
    // FILTER_CONTIGS:FILTER_CONTIGS_SUB:SEQKIT_TOCONTIG // No 
    // 'FILTER_CONTIGS:FILTER_CONTIGS_SUB:BLAST_CONTIG // No 

    withName: 'FILTER_CONTIGS:FILTER_CONTIGS_SUB:FILTER_BLAST_CONTIGS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/filter_contigs/${ID}" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
    }


}   

    