process {



    // ---------------------------------------------------------------------
    // ----------------------     COMPASS MODULES  -------------------------
    // ---------------------------------------------------------------------

    withName: 'COMPASS:RENAME' {
        publishDir = [
            	path:   { "${params.out_dir}/results/0_renamed_assemblies" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
        }

    // subworkflow FILTER_CONTIGS_SUB - filtering contaminated contigs

    withName: 'COMPASS:FILTER_CONTIGS_SUB:FILTER_BLAST_CONTIGS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/1_FILTER_CONTIGS" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    // Contamination check 
        withName: 'COMPASS:DETECT_ASSEMBLY_CONTAMINANTS:KRAKEN_ASSEMBLY' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/2_CONTAMINANT_DETECTION" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }


    // subworkflow  ASSERMBLY_QUALITY_QUALIMAP - quality of assembly by mapping

    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:SAMTOOLS_TOBAM_LONG' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/01_bamlong" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:BWAMEM|COMPASS:ASSEMBLY_QUALITY_QUALIMAP:SAMTOOLS_INDEX_SHORT' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/01_bamshort" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:SAMTOOLS_MERGE_LONG_SHORT' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/01_mergedbam" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:QUALIMAPLONG' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/02_qualimaplong" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:QUALIMAPSHORT' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/02_qualimapshort" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:QUALIMAP' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/02_qualimapmerged" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }


    withName: 'COMPASS:ASSEMBLY_QUALITY_QUALIMAP:MULTIQC' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/01_QUALIMAP/03_multiqc" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    // subworkflow ASSEMBLY_QUALITY_QUAST - quality of assembly by QUAST

    withName: 'COMPASS:ASSEMBLY_QUALITY_QUAST:QUAST_REF|COMPASS:ASSEMBLY_QUALITY_QUAST:QUAST_ASSEMBLY' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}results/03_ASSEMBLY_QUALITY/02_QUAST/01_quastref" },
                mode:   params.publish_dir_mode,
                pattern: "**"
                ]
            ]
        }
        withName: 'COMPASS:ASSEMBLY_QUALITY_QUAST:QUAST_ASSEMBLY' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}results/02_ASSEMBLY_QUALITY/03_QUAST/02_quastassembly" },
                mode:   params.publish_dir_mode,
                pattern: "**"
                ]
            ]
        }

    // subworkflow ASSEMBLY_QUALITY_BUSCO - quality of assembly by BUSCO

    withName: 'COMPASS:ASSEMBLY_COMPLETENESS_BUSCO:BUSCO' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/03_BUSCO/01_busco" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'COMPASS:ASSEMBLY_COMPLETENESS_BUSCO:BUSCO_REPORT' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_ASSEMBLY_QUALITY/03_BUSCO/02_summary" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

}