process {

    withName: 'MASURCA' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/tryssembly/01_masurca" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'DIPSPADES' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/tryssembly/02_dipspades" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'REDUNDANS' { 
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/tryssembly/03_redundans" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    
    // withName: 'PLATANUS' {
    //     publishDir = [
    //         [
    //             path:   { "${params.out_dir}/versions" },
    //             mode:   params.publish_dir_mode,
    //             pattern: "*.version"
    //             ],
    //             [
    //         	path:   { "${params.out_dir}/tryssembly/04_platanus" },
    //             mode:   params.publish_dir_mode,
    //             pattern: "*"
    //             ]
    //         ]
    //     }

    // NECAT assembly track
    /*
    withName: 'NECAT_CORRECT' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/01_necat_correct" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    


    withName: 'NECAT_ASSEMBLE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/02_necat_assemble" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }

    withName: 'NECAT_BRIDGE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/03_necat_bridge" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }


    withName: 'NECAT_GLOBAL' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/02_necat" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
        }
    */
}