// -------------------------------------------
// HAPLOPURGE MODULES 
// ------------------------------------------- 
process {

    // HAPLOPURGE:HAPLO_MINIMAP // No 

    withName: 'HAPLOPURGE:HAPLO_TOBAM' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/happlopurge/01_MAPPING" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
    }

    withName: 'HAPLOPURGE:HAPLOPURGE_PURGE_HIST' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/happlopurge/02_HIST" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
    }

    withName: 'HAPLOPURGE:PURGE_COVERAGE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/happlopurge/03_COV" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
    }
    
    withName: 'HAPLOPURGE:PURGE_HAPLOTIGS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/happlopurge/04_HAPLOTIGS" },
                mode:   params.publish_dir_mode,
                pattern: "*"
                ]
            ]
    }


}