// -------------------------------------------
// VARWRRUM modules
// -------------------------------------------
// ! TODO adjust output patterns - 
// 02_SAMPLES/out1 ... should not be: coordsort.bam(bai)
// 02_SAMPLES/pit2 ... should not be coordsort.bam(bai) - check if need the markdup.bam(bai)
process {


    // VAR_PREP_REF MODULES --------------------------------------------------------------------
    withName: 'VARWRRUM:VAR_PREP_REF:BBMASK|VARWRRUM:VAR_PREP_REF:SAMTOOLS_FAIDX|VARWRRUM:VAR_PREP_REF:SEQKIT_ASSEMBLY_STATS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path:   { "${params.out_dir}/results/varwrrum/01_REF" },
                mode:   params.publish_dir_mode,
                pattern: "{*,*.fasta,*.fasta.fai}"
                ]
            ]
           
    }
    // TODO - Not tested yet might require adjustements (for the base prep ref)
    // VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_FAIDX  // NOT
        // VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:TRIM   // NOT 
        // VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE:BWAMEM_VAR // NOT - we need BAM 

     
    withName: 'VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_TOBAM|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_COORDSORT_INDEX|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_COVERAGE|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_BAMSTATS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/01_REF/out1_preprocessing"},
                mode:   params.publish_dir_mode,
                pattern: "{*, *_map1.bam}"
                ]
            ]
    }

        // VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_NAMESORT  // NOT 
        // VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_FIXMATE // NOT    
    
    withName: 'VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_COORDSORT_INDEX2|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_MARKDUP|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_FLAGSTAT|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_BAMSTATS1' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/01_REF/out2_processing"},
                mode:   params.publish_dir_mode,
                pattern: "{*, *_markdup.bam, *_markdup.bam.bai, *stats, !*.version}"
                ]
            ]
    }

    withName: 'VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_FILTER| VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_FLAGSTAT2|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_BAMSTATS2|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:PURGE_HIST|VARWRRUM:VAR_PREP_REF:VAR_PREP_BASE_REF:SAMTOOLS_COVERAGE2' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/01_REF/out3_postprocessing"},
                mode:   params.publish_dir_mode,
                pattern: "{*, *.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }
    // pattern: "{*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"

    // VAR_PREP_REF specific modules ---------------------------------------------------------------------------------------
    /*
    withName: '' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/01_REF/08_REF_SOFTMASKING"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.fasta, *.fasta.fai, *.tsv}"
                ]
            ]
    }
    */


    // VAR_PREP_SAMPLES MODULES -------------------------------------------------
        // VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_FAIDX  // NOT
        // VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:TRIM   // NOT 
        // VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE:BWAMEM_VAR // NOT - we need BAM 

     
    withName: 'VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_TOBAM|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_COORDSORT_INDEX|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_COVERAGE|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_BAMSTATS' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/02_SAMPLES/out1_preprocessing"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*_map1.bam}"
                ]
            ]
    }

        // VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_NAMESORT  // NOT 
        // VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_FIXMATE // NOT    
    
    withName: 'VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_COORDSORT_INDEX2|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_MARKDUP|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_FLAGSTAT|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_BAMSTATS1' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/02_SAMPLES/out2_processing"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*_markdup.bam, *_markdup.bam.bai, *stats, !*.version}"
                ]
            ]
    }

    withName: 'VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_FILTER| VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_FLAGSTAT2|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_BAMSTATS2|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:PURGE_HIST|VARWRRUM:VAR_PREP_SAMPLES:VAR_PREP_BASE_SAMPLES:SAMTOOLS_COVERAGE2' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/02_SAMPLES/out3_postprocessing"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }


  // PREP SAMPLES POP   
    withName: '  VARWRRUM:VAR_PREP_SAMPLES:SAMTOOLS_MERGE_BAMS|VARWRRUM:VAR_PREP_SAMPLES:SAMTOOLS_COORDSORT_INDEX' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/02_SAMPLES/POP"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }


  // CALL SAMPLES -------------------------------------------------------
    withName: 'VARWRRUM:CALL_SAMPLES:FREEBAYES_REGION' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/01_SAMPLES/01_FREEBAYES_REGION"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }

    withName: 'VARWRRUM:CALL_SAMPLES:FREEBAYES_CALL|VARWRRUM:CALL_SAMPLES:BCFTOOLS_INDEX_FREEBAYES_CALL' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/01_SAMPLES/02_FREEBAYES_CALL"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }

    withName: 'VARWRRUM:CALL_SAMPLES:BCFTOOLS_FILTER|VARWRRUM:CALL_SAMPLES:BCFTOOLS_INDEX_BCFTOOLS_FILTER' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/01_SAMPLES/03_FREEBAYES_FILTER"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }

    withName: 'VARWRRUM:CALL_SAMPLES:VT_NORMALIZE|VARWRRUM:CALL_SAMPLES:BCFTOOLS_INDEX_VT_NORMALIZE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/01_SAMPLES/04_FREEBAYES_NORMALIZE"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }
   
  
   
  
  // CALL POP 
     withName: 'VARWRRUM:CALL_POP:FREEBAYES_REGION' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/02_POP/01_FREEBAYES_REGION"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }
      


    withName: 'VARWRRUM:CALL_POP:FREEBAYES_CALL_POP|VARWRRUM:CALL_POP:BCFTOOLS_INDEX_FREEBAYES_CALL' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/02_POP/02_FREEBAYES_CALL"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }

    withName: 'VARWRRUM:CALL_POP:BCFTOOLS_FILTER|VARWRRUM:CALL_POP:BCFTOOLS_INDEX_BCFTOOLS_FILTER' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/02_POP/03_FREEBAYES_FILTER"},
                mode:   params.publish_dir_mode,
                pattern: "{*,*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }

    withName: 'VARWRRUM:CALL_POP:VT_NORMALIZE|VARWRRUM:CALL_POP:BCFTOOLS_INDEX_VT_NORMALIZE' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/02_POP/04_FREEBAYES_NORMALIZE"},
                mode:   params.publish_dir_mode,
                pattern: "{*}"
                ]
            ]
    }

              
                                 
  // MERGE INDIV CALLS 
  /*
    withName: '' {
        publishDir = [
            [
                path:   { "${params.out_dir}/versions" },
                mode:   params.publish_dir_mode,
                pattern: "*.version"
                ],
                [
            	path: {"${params.out_dir}/results/varwrrum/03_VARIANTS/03_MERGED_SAMPLES/"},
                mode:   params.publish_dir_mode,
                pattern: "{*.depth, *.depth.all_pos, *.data, *.plot, *.unmapped, *stats, *_map2.bam, *_map2.bam.bai, *_markdup.bam, *_markdup.bam.bai, *.gencov, *.png}"
                ]
            ]
    }
    */




    

  



  
}