// Define profiles
profiles {
    conda {
        params.enable_conda    = true
        apptainer.enabled      = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    apptainer {
	    apptainer.enabled      = true
        apptainer.autoMounts   = true
        singularity.enabled    = false
        params.enable_conda    = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    // config for each track - set tje correct track parameters
    purelyraw {
        includeConfig '../conf/modules_purelyraw.config' 
        params.track = "purelyraw" 
    }

    tryssembly {
        includeConfig '../conf/modules_tryssembly.config' 
        params.track = "tryssembly" 
    }

    filter_contigs {
        includeConfig '../conf/modules_filter_contigs.config' 
        params.track = "filter_contigs" 
    }

    compass {
        includeConfig '../conf/modules_compass.config' 
        params.track = "compass" 
    }

    varwrrum {
        includeConfig '../conf/modules_varwrrum.config' 
        params.track = "varwrrum" 

        }
        
}




//apptainer.runOptions   = "--cleanenv"