/*
* -----------------------------------
*  Nextflow config file for NVI Saga
* -----------------------------------
*/

// Adapted from Copied from Håkon Kaspersen https://github.com/NorwegianVeterinaryInstitute/ALPPACA

report {
        enabled         = true
        file            = "${params.out_dir}/logs/nextflow_run_report.html"
		overwrite		= true
}

process {
	executor			= 'slurm'
	clusterOptions 		= '--job-name=Sapro_nf --account=nn9305k'
	queueSize			= 24
	errorStrategy		= 'retry'
	maxRetries			= 2
	cpus				= 4
	memory			= { 8.GB * task.attempt }
	time			= { params.time_multiplier * 1.h * task.attempt }

	// Process label definitions
	withLabel: normal_plus {
		cpus 		= 4
		memory		= { 8.GB * task.attempt }
		time		= { params.time_multiplier * 4.h * task.attempt }
		}

	withLabel: process_high {
		cpus 		= 8
		time		= { params.time_multiplier * 2.h * task.attempt }
		}
		

	withLabel: process_high_cpu_short {
		cpus            = 20
		clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
        memory          = 200.GB
		time		= { params.time_multiplier * 6.h * task.attempt }
	

		}

	withLabel: process_high_cpu_time {
		cpus            = 20
		clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
        memory          = 200.GB
		time		= { params.time_multiplier * 24.h * task.attempt }
		// time		= { params.time_multiplier * 48.h * task.attempt }

		}

	
	withLabel: process_medium_memory {
                clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
                memory          = { 32.GB * task.attempt }
				cpus			= 1
				time			= { params.time_multiplier * 12.h * task.attempt }
        }

	withLabel: process_high_memory {
		clusterOptions 	= '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
		memory		= 64.GB 
		cpus 		= 4
		time		= { params.time_multiplier * 5.d * task.attempt }
		}

	withLabel: process_high_memory_time {
		clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
		memory          = { 128.GB * task.attempt }
		cpus 		= 1
		time		= { params.time_multiplier * 10.h * task.attempt }
		}
	withLabel: process_high_memory_time2 {
		clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
		memory          = { 68.GB * task.attempt }
		cpus 		= 1
		time		= { params.time_multiplier * 2.h * task.attempt }
		}
	
	withLabel: process_high_memory_cpu_time {
		clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem'
		memory          = 200.GB
		cpus			= 16
		time            = { params.time_multiplier * 48.h * task.attempt }
        }
	
	withLabel: process_long {
		time		= { params.time_multiplier * 48.h * task.attempt } 
		}

	withLabel: process_short {
		time		= { params.time_multiplier * 1.h * task.attempt }
		cpus		= 1
		}

	withLabel: process_local {
		executor	= 'local'
		}

}
